@charset "UTF-8";

ul {
    margin:2px;
    padding:5px;
    list-style:none;
}
li  {
    margin-bottom:6px;
}
li ul {
    border-top:1px solid #ddd;
    margin-bottom:20px;
}
li ul li {
    display:block;
    padding:7px 15px;
    border-bottom:1px solid #ddd;
    color:#777;
}
